<header class="header-default" style="padding-bottom: 0;">

    <div class="container">

        <!-- navbar header -->
        <div class="navbar-header">

            <div class="header-details">
                <div class="header-item header-phone left">
                    <table>
                        <tr>
                            <td><i class="fa fa-envelope" id="cus-env"></i></td>
                            <td class="header-item-text">
                                <a href="mailto:rentz@scorpiosoftwarellc.com?Subject=House Rental" target="_top" class="cus-env-color">Drop us a line
                                <br/>
                                <span>rentz@scorpiosoftwarellc.com</span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="clear"></div>
            </div>

            <a class="navbar-brand" href="index.html"><img id="logo" src="./assets/images/scorpioSoftware__LLC2.png" width="180" height="80" alt="" /></a> 

            <!-- nav toggle -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- main menu -->
        <div class="navbar-collapse collapse">
<!-- 
            <div class="main-menu-wrap">
                <div class="container-fixed">
                    <ul class="nav navbar-nav right">
                        <li>
                            <a href="index-2.html">Home</a>
                        </li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <div class="clear"></div>

                </div>

            </div>
-->
            <!-- end main menu wrap -->
        </div>
        <!-- end navbar collaspe -->

    </div>
    <!-- end container -->
</header>