<div class="bottom-bar" id="footer">
    <div class="container">
        <div class="col-md-6">
            <p>scorpioSoftware, LLC © Copyright – 2018 : All Rights Reserved.</p>
        </div>
        <div class="col-md-6">
            <!-- <ul class="social-icons circle">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul> -->
        </div>
    </div>
</div>