<section class="module">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-md-8 action">

                <div class="property-single-item property-main">
                    <div class="property-header">
                        <div class="property-title">
                            <h4>House</h4>
                            <div *ngIf="house.isActive else rented" class="property-price-single right" >${{ house.rent }}<span>Per Month</span></div>
                            <ng-template #rented><div class="property-price-single right"><span>Rented</span></div></ng-template>
                            <p class="property-address"><a href="https://maps.google.com/?q=blueridge dr, east columbus, ga 31907" target="_blank"><i class="fa fa-map-marker icon"></i>East Columbus, GA 31907</a></p>
                            <div class="clear"></div>
                        </div>
                        <div class="property-single-tags" style="padding-bottom: 40px;">
                            <div class="col-md-6" style="padding-right: 0px;padding-left: 0px;">
                                <div class="property-type">Property Type: {{ house.type}}</div>
                                <div class="property-type">Near by: <!-- <a href="#"> -->{{ house.nearBy }}<!-- </a> --></div>                                    
                                <div class="property-type">Lease with Purchase Option</div>
                            </div>

                            <div class="text-center">
                                <div class="col-md-2 col-sm-2 text-center visit" style="visibility:hidden;">
                                    <div class="property-type"><a href="#"><i class="fa fa-bookmark fa-2x"></i> <span style="display: block;">SAVE</span></a></div>
                                </div>
                                <div class="col-md-2 col-sm-2 text-center visit" style="visibility:hidden;">
                                    <div class="property-type"><a href="#"><i class="fa fa-share-alt fa-2x"></i> <span style="display: block;">SHARE</span></a></div>
                                </div>
                                <div class="col-md-2 col-sm-2 text-center visit" style="text-align:right; padding-right:5px;">
                                    <div class="property-type"><a href="#" data-toggle="modal" data-target="#exampleModal" style="color: #3474ad;"><i class="fa fa-globe fa-2x"></i> <span style="display: block;">VISIT</span></a></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                </div>
                <!-- end property title and gallery -->
                <!-- start property gallery -->
                <div class="property-single-item property-main">
                    <div class="property-gallery">
                        <div class="slider-nav slider-nav-property-gallery">
                            <span class="slider-prev"><i class="fa fa-angle-left"></i></span>
                            <span class="slider-next"><i class="fa fa-angle-right"></i></span>
                        </div>
                        <div class="slide-counter"></div>
                        <div class="slider slider-property-gallery"> 
                            <div *ngFor="let image of house.imagePath">
                                <div class="slide"><img src = './assets/images/{{image}}' alt="{{image}}" /></div>
                            </div>
                        </div>
                        <div class="slider property-gallery-pager">
                                <div *ngFor="let image of house.imagePath">
                                    <a class="property-gallery-thumb"><img src = './assets/images/{{image}}' alt="{{image}}" /></a>
                                </div>
                        </div>
                    </div>
                </div> 
                <!-- end property gallery -->

                <!-- House Details Start -->
                <div class="property-single-item property-main">
                    <div class="property-header">
                        <div>
                            <h4>House Details</h4>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <table class="property-details-single details">
                        <tr>
                            <td><i class="fa fa-bed"></i> <span>{{house.bedrooms}}</span> Beds</td>
                            <td><i class="fa fa-bath"></i> <span>{{house.baths}}</span> Baths</td>
                            <td><i class="fa fa-home"></i> <span></span>{{house.appliances}}</td>
                        </tr>
                    </table>

                    <table class="property-details-single">
                        <tr>
                            <!-- <td><i class="fa fa-plus"></i> <span></span>{{house.amenities}}</td> -->
                            <td><i class="fa fa-building"></i> <span></span>{{house.type}}</td>
                            <td><i class="fa fa-arrows-alt"></i> <span>{{house.sqft}}</span> Sq.Ft.</td>
                            <td><i class="fa fa-square"></i> <span></span>{{house.floorType}}</td>
                        </tr>
                    </table>

                    <table class="property-details-single">
                        <tr>
                            <td><i class="fa fa-snowflake-o"></i> <span></span>{{house.coolingType}}</td>
                            <td><i class="fa fa-thermometer-half"></i> <span></span>{{house.heatingType}}</td>
                            <td><i class="fa fa-expand"></i> <span>{{house.acres}}</span> acres</td>
                        </tr>
                    </table>

                </div>
                <!-- end house details -->

            </div>
            <!-- end col -->

        </div>
        <!-- end row -->

    </div>
    <!-- end container -->
</section>