/*====================================================================================*/
 /* TABLE OF CONTENTS
/*====================================================================================*/
/* 01 RESET 
/* 02 GLOBAL SETTINGS
/* 03 HEADER 
/* 04 SUBHEADER
/* 05 FILTER
/* 06 PROPERTIES
/* 07 AGENTS
/* 08 BLOG
/* 09 MEMBERS
/* 10 MISC MODULES
/* 11 FOOTER

/*====================================================================================*/
 /* 01 RESET
/*====================================================================================*/

* { margin:0px; padding:0px; }

h1,h2,h3,h4,h5 { margin-top:0px; }

ul, ul li { list-style:none; }


/*====================================================================================*/
 /* 02 GLOBAL SETTINGS
/*====================================================================================*/

html { width:100%; height:100%; }

body {
/*	font-family:'Raleway', Arial;*/
    font-family: 'Play', sans-serif;
	font-weight:300;
	font-size:15px;
	color:#464646;
	width:100%; 
	height:100%; 
	background:#ebf1f5;
}

.container { position:relative; }

.module { position:relative; padding:70px 0px 70px 0px; }
.module.no-padding { padding:0; }
.module.no-padding-top { padding-top:0; }
.module.no-padding-bottom { padding-bottom:0; }

.module-header { margin-bottom:50px; text-align:center; }
.module-header h2 { font-weight:300; font-size:30px; margin-bottom:15px; } 
.module-header img { margin-bottom:15px; }
.module-header p { font-size:16px; margin:0 auto; width:60%; }

/* page & post content */
.content p { line-height:1.8; margin-bottom:27px; }
.content ul li { list-style-type:disc; margin-left:20px; }
.content ul li ul{ margin-left:20px; }
.content ul li ul li { list-style-type:circle; }
.content ol { margin-left:15px; }
.content .quote {
	padding:5%;
	border-left:2px solid #59aee9;
	background:#e7eef4;
	font-size:17px;
	width:85%;
	margin:0 auto;
	margin-bottom:30px; 
}

.left { float:left; }
.right { float:right; }
.center { text-align:center; margin:0 auto; }
.clear { clear:both; }
.show-none { display:none; }
.divider { width:100%; height:1px; background:rgba(0, 0, 0, 0.1); margin-bottom:20px; margin-top:20px; }
.divider-fade {
	width:100%;
	height:70px;
	position:absolute;
	border-radius:25px 4px 4px 4px;
	opacity:0.1;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.28) 0%, rgba(0,0,0,0) 72%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.28) 0%,rgba(0,0,0,0) 72%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.28) 0%,rgba(0,0,0,0) 72%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

/* typography */
h1,h2,h3,h4,h5,h6 { font-family: 'Play', sans-serif;color:#3a464e; }
h1 { font-size:45px; }
h2 { font-size:40px; }
h3 { font-size:30px; }
h4 { font-size:25px; }
h5 { font-size:20px; }

a { 
	color:#48a0dc;
	outline:0 !important;
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

a:hover { color:#68b4e8; text-decoration:none; }

.shadow-hover { transition: all 0.4s linear; }
.shadow-hover:hover { box-shadow:0px 10px 25px rgba(0, 0, 0, 0.15); }

.icon { margin-right:4px; }

/* BUTTONS */
.button, input[type="submit"] {
/*	font-family:'Raleway', Helvetica, Arial;*/
font-family: 'Play', sans-serif;
	font-size:15px;
	font-weight:600;
	padding:10px 35px 10px 35px;
	color:white;
	border-radius:3px;
	border:none;
	background-color:#48a0dc;
	display:inline-block;
	width:auto;
	cursor:pointer;
	transition: all 0.2s linear;
}

.button:hover, input[type="submit"]:hover, .button.grey:hover {
	color:white;
	text-decoration:none;
	background-color:#59aee9;
}

.button.alt { background-color:#4fba6f; }
.button.alt:hover { background-color:#5fc97e; }

.button.small {
	padding:6px 23px 6px 23px;
	font-size:12px;
}

.button.large {
	padding:12px 45px 12px 45px;
	font-size:17px;
}

.button.grey { color:#8da9b9; cursor:auto; background-color:#cbdfea; }

.button-icon { position:relative; padding-left:56px; padding-right:25px; }
.button-icon.small { padding-left:38px; padding-right:15px; }
.button-icon.large { padding-left:70px; padding-right:35px; }
.button-icon .fa {
	background:rgba(0, 0, 0, 0.1);
	position:absolute;
	left:0;
	top:0;
	border-radius:2px;
	height:100%;
	width:38px;
	text-align:center;
	padding-top:13px;
	font-size:13px;
}
.button-icon.small .fa { padding-top:8px; width:27px; }
.button-icon.large .fa { padding-top:15px; font-size:16px; width:45px; }

/** PAGINATION **/
.pagination { width:100%; }
.pagination ul li { list-style:none; padding-left:4px; padding-right:4px; display:inline-block; }
.pagination ul li.current a { background:#59aee9; color:white; }
.pagination .button { padding:10px 15px; }

/** FORM ELEMENTS **/
input, textarea, select {
	width:100%;
	padding:9px;
	margin-bottom:20px;
	border-radius:3px;
	border:none;
	font-weight:300;
	font-family:'Raleway' !important;
	background:white;
}

input[type="file"] {
	background:white;
	border:none;
	padding:5px 0px 5px 0px;
	width:auto;
	display:inline-block;
}

.chosen-container { margin-bottom:20px; width:100% !important; }
.chosen-container.chosen-with-drop .chosen-single { border:none; background:white; }
.chosen-container .chosen-single {
	border:none;
	box-shadow:none;
	border-radius:3px;
	background:white;
	height:39px;
	line-height:39px;
	font-size:15px;
}
.chosen-container .chosen-single div { top:8px; right:6px; }
.chosen-container .chosen-drop { border:none; }
.chosen-container .chosen-search { padding:10px; }
.chosen-container .chosen-results { padding:0px 10px 10px 10px; }
.chosen-container .chosen-results li.highlighted { background:#48a0dc; border-radius:2px; }

input[type="checkbox"], input[type="radio"] { width:auto; margin-right:5px; }

textarea { height:130px; }

input.border, 
select.border, 
textarea.border, 
.form-block.border .chosen-container .chosen-single,  
.form-block.border .chosen-container .chosen-drop { border:1px solid rgba(0, 0, 0, 0.15); }
.form-block.border .chosen-container .chosen-results { padding-top:10px; }

.form-block label { display:block; }
.form-block label .error { color:red; font-size:12px; margin-left:10px; }

.search-form { position:relative; }
.search-form button[type="submit"] {
	border:none;
	background:none;
	position:absolute;
	right:13px;
	top:10px;
	color:#97aab7;
}

/* SOCIAL ICONS */
.social-icons { margin-bottom:0; }
.social-icons li { display:inline-block; padding-left:5px; padding-right:5px; line-height:1.4; }
.social-icons li:last-child { padding-right:0px; }
.social-icons.circle li a {
	font-size:14px;
	border:1px solid #48a0dc;
	width:28px;
	height:28px;
	display:inline-block;
	text-align:center;
	padding-top:4px;
	border-radius:100%;
}
.social-icons.circle li a:hover { background:#48a0dc; border-color:#48a0dc; color:white; }

/** ALERT BOXES **/
.alert-box {
	background:#f5fad7;
	border:1px solid #b3b4a0;
	border-left:3px solid #b3b4a0;
	padding:10px;
	margin-bottom:20px;
}
.alert-box.success { background:#dbefd4; border-color:#acc7a1; }
.alert-box.error { background:#fad7d7; border-color:#c08585; }
.alert-box.info { background:#d2daef; border-color:#8a97b9; }
.alert-box h4 { font-size:15px; margin:0;}

/** SLICK SLIDER **/
.slider-wrap { position:relative; }

.slider { opacity:0; overflow:hidden; }
.slider.slick-initialized { opacity:1; transition:all 0.4s; }
.slider .slide:not(:first-of-type) { display: none; }
.slider .slide.initialized { display:block; }

.slider-nav { position:absolute; width:100%; top:50%; margin-top:-30px; }
.slider-prev, .slider-next {
	background:white;
	font-size:28px;
	color:#93a1ae;
	width:45px;
	height:45px;
	text-align:center;
	display:block;
	padding-top:2px;
	border:1px solid rgba(0, 0, 0, 0.1);
	border-radius:50px;
	cursor:pointer;
	position:relative;
	z-index:100;
	transition:all 0.4s;
}
.slider-prev:hover, .slider-next:hover {
	background:#48a0dc;
	color:white;
	border-color:#48a0dc;
}
.slider-prev { float:left; margin-left:1%; }
.slider-next { float:right; padding-left:5px; margin-right:1%; }

/** TABS **/
.tabs { margin-bottom:20px; display:none; font-family:'Raleway'; }
.tabs.ui-widget.ui-widget-content,
.ui-tabs .ui-tabs-nav { 
	background:transparent; 
	padding:0;
	border-radius:0;
	border:none;
}
.ui-tabs .ui-tabs-nav { box-shadow:inset 0px -1px rgba(0, 0, 0, 0.15); }
.ui-tabs .ui-tabs-nav li { 
	border:none; 
	background:transparent; 
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor { padding:18px 15px; color:#9bb3c7; }

.ui-tabs .ui-tabs-panel { 
	background:transparent; 
	text-align:left; 
	padding:30px 0px 0px 5px;
	margin-top:0px;
}

.tabs li.ui-state-active { background:transparent; border-bottom:2px solid #48a0dc; }
.tabs li.ui-state-active .ui-tabs-anchor { color:#48a0dc; font-weight:600; }

.ui-tabs-hide { display:none; }

/** ACCORDION **/
.ui-accordion .ui-accordion-header { 
	border:none; 
	margin-bottom:25px; 
	padding:20px;
	font-size:18px;
	font-weight:600;
	background:white;
}
.ui-accordion .ui-accordion-header-active { margin-bottom:0; background:#59aee9; }
.ui-accordion .ui-accordion-content-active { margin-bottom:25px; }
.ui-accordion .ui-accordion-content { border:none; padding:30px; font-family:'Raleway'; }
.ui-accordion-header-icon { display:none; }
.accordion-footer { font-style:italic; font-size:12px; }
.accordion-footer a { color:#48a0dc; font-weight:600; margin-left:8px; margin-right:8px; }

.ui-accordion .ui-accordion-header:before {
    content: "\f105";
    font-family: FontAwesome;
    margin-right:10px;
    font-size:20px;
}
.ui-accordion .ui-accordion-header-active:before { content: "\f107"; }

/* COLOR BAR */
.color-bar {
	width:50px;
	height:3px;
	background:#48a0dc;
	margin-bottom:15px;
	transition:all 0.3s;
}

/*====================================================================================*/
 /* 03 HEADER
/*====================================================================================*/
header { background:white; width:100%; position:relative; z-index:1000; }

/* TOPBAR */
.top-bar {
	background:#e8ebf3;
	color:#838893;
	font-size:12px;
}

.top-bar a { color:#838893; }
.top-bar a:hover { color:#48a0dc; }

.top-bar-item { 
	padding:8px;
	display:inline-block;
}
.top-bar-left .top-bar-item:first-child { padding-left:0px; }
.top-bar-right .top-bar-item:first-child { padding-right:0px; }

/* LOGO */
.navbar-header { 
	display:inline-block; 
	max-width:30%; 
	min-width:200px;
	position:relative;
	z-index:1000; 
}
.navbar-brand {
	display:inline-block;
	height:auto;
	min-height:83px;
	padding-left:0px;
}
.navbar-brand img { max-width:100%; }

/* MENU TOGGLE */
.navbar-toggle { 
	background:#e8ebf3; 
	margin:0; 
	margin-top:20px;
	position:relative;
	z-index:2;
}
.navbar-toggle .icon-bar { background:#838893; }

/* MAIN MENU */
 .navbar-collapse.collapse { position:relative; z-index:1000; }

 .main-menu-wrap {
 	position:absolute;
	bottom:0;
	right:0px;
 }

.nav.navbar-nav li { position:relative; }
.nav.navbar-nav li a { 
	color:#838893; 
	padding:29px 20px;
}
.nav.navbar-nav li a:hover { background:transparent; color:#48a0dc; }
.nav.navbar-nav li.current-menu-item > a { box-shadow:inset 0px -2px #48a0dc; }
.nav.navbar-nav li.menu-item-has-children:after {
	content: "\f107";
    font-family: FontAwesome;
    color:rgba(0, 0, 0, 0.5);
	margin-top:29px;
	top:0;
	right: 5px;
	position: absolute;
}
.nav.navbar-nav li:hover.menu-item-has-children:after { color:#48a0dc !important; }
.nav.navbar-nav li:last-child a { padding-right:0; }

/* SUB MENU */
.nav.navbar-nav li:hover .sub-menu { display:block; margin-top:0; }
.sub-menu {
	display:none;
	position:absolute;
	background:#2a2e3b;
	width:200px;
	margin-top:15px;
	font-size:14px;
	-webkit-transition:all 0.4s; 
	transition:all 0.4s; 
}
.nav.navbar-nav li .sub-menu li a { 
	display:block; 
	padding:10px;
}
.nav.navbar-nav li .sub-menu li a:hover { color:white !important; }
.nav.navbar-nav li .sub-menu li.menu-item-has-children:after {
	content: "\f105";
	color:rgba(255, 255, 255, 0.2);
	right:10px;
	margin-top:10px;
}

.nav.navbar-nav li .sub-menu li .sub-menu { 
	display:none;
	margin-left:200px;
	margin-top:-40px;
	background:#21252f;
}
.nav.navbar-nav li .sub-menu li:hover .sub-menu { display:block; }

/* MEMBER ACTIONS */
.member-actions { padding-top:25px; margin-left:20px; }

/** HEADER DEFAULT **/
.header-default { padding-bottom:30px; }
.header-default .navbar-header { float:none; width:100%; max-width:100%; display:block; }
.header-default .header-details { position:absolute; bottom:0; right:0; }
.header-default .header-item { padding:15px; margin:11px 0px; line-height:1.2; font-size:13px; }
.header-default .header-item:nth-last-child(2) { padding-right:0px; border-left:1px solid rgba(0, 0, 0, 0.1); }
.header-default .header-item table { margin:0 auto; width:100%; }
.header-default .header-search { width:300px; }
.header-default .header-search input { border:1px solid rgba(0, 0, 0, 0.13); margin-bottom:0; }
.header-default .header-search td > .fa { display:none; }
.header-default .header-item td > .fa { color:#59aee9; font-size:36px; margin-right:10px; }
.header-default .header-item span { font-family:'Open Sans'; font-weight:700; font-size:18px; }
.header-default .navbar-brand { padding:20px 15px; padding-left:0px; }
.header-default .main-menu-wrap { height:60px; top:0px; width:100%; background:#323746; }
.header-default .navbar-toggle.fixed { position:fixed; top:0; left:0; margin-top:0; width:100%; background:#323746; border-radius:0px; padding:15px;}
.header-default .main-menu-wrap.fixed { position:fixed; }
.header-default .main-menu-wrap .container-fixed { max-width:1140px; margin:0 auto; }
.header-default .nav.navbar-nav { float:left; }
.header-default .nav.navbar-nav li a { letter-spacing:0.4px; color:white; font-size:14px; font-weight:600; padding:20px 20px; }
.header-default .nav.navbar-nav li a:hover { color:#48a0dc; }
.header-default .nav.navbar-nav li.menu-item-has-children:after {
	content: "\f107";
    font-family: FontAwesome;
    color:rgba(255, 255, 255, 0.4);
	margin-top:21px;
}
.header-default .nav.navbar-nav li .sub-menu li a { color:rgba(255, 255, 255, 0.5); font-weight:300; }

.header-default .member-actions { padding:0; }
.header-default .member-actions .button { padding:20px 20px 20px 40px; letter-spacing:0.4px; font-size:14px; border-radius:0; }
.header-default .member-actions .button-icon .fa {
	height:auto;
	width:28px;
	height:28px;
	padding-top:9px;
	border-radius:6px;
	top:16px;
	margin-left:-14px;
	background:#4fba6f;
	box-shadow:0px 0px 0px 5px #323746;
}

/*====================================================================================*/
 /* 04 SUBHEADER
/*====================================================================================*/
.subheader {
	background:#787c8a url(../images/page-banner-default3.jpg) no-repeat center;
	background-size:cover;
	color:white;
	padding-top:160px;
	padding-bottom:40px;
	letter-spacing:0.5px;
	position:relative;
	z-index:1;
}
.subheader h1 {
	margin-bottom:0px;
	font-weight:700;
	font-size:40px;
	color:white;
	float:left;
}

.subheader .breadcrumb {
	background:transparent;
	font-weight:600;
	font-size:14px;
	margin-bottom:0;
	padding:0;
	padding-top:20px;
}
.subheader .breadcrumb a { color:white; }
.subheader .breadcrumb a.current { font-weight:600; }
.subheader .breadcrumb .fa { margin-left:6px; margin-right:6px; }

/** SIMPLE SEARCH **/
.subheader.simple-search {
	text-align:center;
	padding:200px 0px;
	background-image:url(../images/simple-search-bg.jpg);
}
.subheader.simple-search h1 { float:none; font-size:48px; font-weight:700; }
.subheader.simple-search p {
	font-size:21px;
	margin-top:15px;
	margin-bottom:35px;
}

.subheader.simple-search .simple-search-form {
	width:65%;
	margin:0 auto;
}

.subheader.simple-search .simple-search-form input[type="text"] {
	border:none;
	border-radius:3px 0px 0px 3px;
	font-size:17px;
	padding:12px;
	height:48px;
	width:85%;
	float:left;
	color:black;
}

.subheader.simple-search .simple-search-form input[type="submit"] {
	border-radius:0px 3px 3px 0px;
	padding:13.5px;
	width:15%;
	float:left;
}

.subheader.simple-search .ui-tabs-nav { display:inline-block; }
.subheader.simple-search .ui-tabs-nav li { 
	border-radius:0px; 
	margin:0; 
	border:none;
	border:1px solid rgba(255, 255, 255, 0.2);
	border-right:none;
	background:rgba(255, 255, 255, 0.1);
	width:120px;
	text-align:center;
}
.subheader.simple-search .ui-tabs-nav li:hover { background:rgba(255, 255, 255, 0.2);; }
.subheader.simple-search .ui-tabs-nav li:first-child { border-radius:3px 0px 0px 3px; }
.subheader.simple-search .ui-tabs-nav li:last-child { border-radius:0px 3px 3px 0px; border-right:1px solid rgba(255, 255, 255, 0.2);  }
.subheader.simple-search .ui-tabs-nav li a { color:white; padding: 15px 12px; display:block; font-size:13px; width:100%; font-weight:700; }
.subheader.simple-search .ui-tabs-nav li.ui-state-active { background:#59aee9; padding:0; border-color:#59aee9; }
.subheader.simple-search .ui-tabs-nav li.ui-state-active:after {
  content:"";
  position:absolute;
  bottom:-8px; /* value = - border-top-width - border-bottom-width */
  left:50%; /* controls horizontal position */
  margin-left:-10px;
  border-width:10px 10px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#59aee9 transparent;
  display:block;
  width:0;
  z-index:1;
}
.subheader.simple-search .ui-tabs .ui-tabs-panel {
	background:transparent;
	padding:30px 0px 0px 0px;
}

/** SUBHEADER SLIDER SIMPLE **/
.subheader.subheader-slider { background:#e1e5f1; padding:0px; }
.subheader.subheader-slider h1 { float:none; font-size:55px; display:block; margin-bottom:15px; }
.subheader.subheader-slider p { font-size:24px; }
.subheader.subheader-slider p .fa { font-size:19px; margin-right:10px; }
.subheader.subheader-slider .slide { 
	background:url(../images/slider-img2.jpg) no-repeat center;
	background-size:cover;
	padding:200px 0px 210px 0px;
	text-align:center;
}
.subheader.subheader-slider .slide:nth-child(2) { background:url(../images/slider-img1.jpg) no-repeat center; background-size:cover; }
.subheader.subheader-slider .slide .container { position:relative; z-index:10; }
.subheader.subheader-slider .slider-simple-buttons { margin-top:25px; }
.subheader.subheader-slider .slider-simple-buttons .button:last-child { 
	margin-left:10px; 
	background:transparent;
	box-shadow:inset 0px 0px 0px 2px white;
}
.subheader.subheader-slider .slider-simple-buttons .button:last-child:hover { 
	background:#59aee9;
	color:white;
	box-shadow:inset 0px 0px 0px 2px #59aee9;
}

.subheader.subheader-slider .slider-next,
.subheader.subheader-slider .slider-prev {
	background:rgba(255, 255, 255, 0.3);
	border:2px solid rgba(255, 255, 255, 0.4);
	color:white;
}
.subheader.subheader-slider .slider-next:hover,
.subheader.subheader-slider .slider-prev:hover { background:#48a0dc; border-color:#48a0dc; color:white; }

/** SUBHEADER SLIDER ADVANCED **/
.subheader.subheader-slider .slider-advanced .slide { text-align:left; }
.subheader.subheader-slider .slider-advanced .slide .img-overlay { background:rgba(0, 0, 0, 0.1); }
.subheader.subheader-slider .slider-advanced .slide-price { 
	background:#48a0dc; 
	color:white; 
	width:185px; 
	text-align:center; 
	padding:12px 20px; 
	font-size:22px;
	font-weight:700;
}
.subheader.subheader-slider .slider-advanced .slide-price span { font-size:13px; font-weight:300; display:block; }
.subheader.subheader-slider .slider-advanced .slide-content { 
	padding:30px; 
	display:inline-block; 
	width:45%;
	color:#2b2f3a;
	background:rgba(255, 255, 255, 0.75); 
}
.subheader.subheader-slider .slider-advanced .slide h1 { font-size:32px; color:#2b2f3a; }
.subheader.subheader-slider .slider-advanced .slide p { font-size:17px; font-weight:600; }
.subheader.subheader-slider .slider-advanced .slide .fa { color:#48a0dc; }
.subheader.subheader-slider .slider-advanced .slide p.slide-text { font-weight:300; font-size:15px; }
.subheader.subheader-slider .slider-advanced .slide table { font-size:13px; margin-bottom:25px; margin-top:20px; font-weight:600; width:100%; text-align:center; }
.subheader.subheader-slider .slider-advanced .slide table td { border-right:1px solid rgba(0, 0, 0, 0.07); width:25%; }
.subheader.subheader-slider .slider-advanced .slide table td:last-child { border:none; }
.subheader.subheader-slider .slider-advanced .slide table .fa { margin-bottom:7px; font-size:30px; }
.subheader.subheader-slider .slider-advanced .slide .button-icon .fa { color:white; }
.subheader.subheader-slider .slider-advanced .slide .button.small { margin-top:15px; padding:3px 10px; font-size:10px; }
.subheader.subheader-slider .slider-advanced .slide .button.small.grey { color:white; margin-right:10px; background:#bcc3d8; }

/** SUBHEADER GOOGLE MAPS **/
.subheader.google-maps { background:#e1e5f1; padding:0; height:715px; position:static; }
.subheader.google-maps .container { position:static;}
#map-canvas { width:100%; height:715px; position:absolute; z-index:0; }
.info-box-img { width:180px; margin-right:20px; float:left;  }
.info-box p { color:black; }

.subheader.google-maps.horizontal, .subheader.google-maps.horizontal #map-canvas { height:600px; }

/** SUBHEADER LISTING **/
.subheader-listing-sidebar { padding-bottom:50px; }


/*====================================================================================*/
 /* PROPERTIES
/*====================================================================================*/
/* GLOBAL PROPERTY MODULE */
.property {
	background:white;
	position:relative;
	margin-bottom:30px;
}

.property:hover .property-color-bar { width:100%; }

.property-img { position:relative; display:block; }
.property-img img { max-width:100%; height:auto; }

.property-price {
	color:white;
	position:absolute;
	font-weight:700;
	font-size:23px;
	bottom:10px;
	left:15px;
	z-index:20;
}
.property-price span {  
	font-size:12px;
	font-style:italic;
	font-weight:200;
	display:block;
}

.property-tag {
	position:absolute;
	padding:3px 8px;
	font-size:12px;
	z-index:20;
}

.property-tag.featured { right:10px; margin-top:10px; }
.property-tag.status { right:10px; bottom:10px; }

.img-fade {
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.property-color-bar {
	background:#48a0dc;
	height:3px;
	width:0;
	position:absolute;
	z-index:20;
	bottom:0px;
	transition:all 0.4s;
}

.property-content { padding:5%; }
.property-content p { margin:0; }

.property-title {
	border-bottom:1px solid rgba(0, 0, 0, 0.09);
	padding-bottom:20px;
	margin-bottom:20px;
}
.property-title h4 {  
	width:100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.property-title a { color:#3a464e; font-size:18px; }
.property-title a:hover { color:#48a0dc; }

.property-title .fa { color:#48a0dc; }

.property-details {
	color:#9eaab2;
	font-weight:700;
	width:100%;
	font-size:13px;
}

.property-details td { width:33.33%; }

.property-footer {
	background:#d4e0e7;
	padding:3% 5%;
	color:#86929a;
	font-size:13px;
	font-weight:400;
}
.property-footer a { color:#86929a; }
.property-footer a:hover { color:#48a0dc }

/* GLOBAL PROPERTY ROW MODULE */
.property-row { margin-bottom:40px; }
.property-row .property-img { width:35%; display:inline-block; min-height:285px; background:#d4e0e7; float:left; z-index:100; }
.property-row .property-title h4 { 
	width: 100%;
 	white-space: nowrap;
 	overflow: hidden;
 	text-overflow: ellipsis;
}
.property-row .property-title h4 a { font-size:20px; }
.property-row .property-address { font-size:16px; }
.property-row .property-content { background:white; padding:20px; width:65%; float:left; }
.property-row .property-text { font-size:14px; margin-top:18px; line-height:1.6; }
.property-row .property-details { font-size:14px; width:auto; }
.property-row .property-footer { 
	width:100%;
	position:absolute;
	padding:0px 0px 0px 37%; 
	bottom:0;
}
.property-row .property-footer .left { padding-top:11px; }
.property-row .property-footer .button { margin-left:15px; color:white; border-radius:0px; }

.property-row-sidebar .property-img { overflow:hidden; min-height:245px; width:45%; }
.property-row-sidebar .property-content { width:55%; }
.property-row-sidebar .property-title { padding-bottom:13px; margin-bottom:13px; }
.property-row-sidebar .property-footer { padding-left:48%; }

/** PROPERTIES LISTINGS **/
.property-listing-header { margin-bottom:30px; }
.property-listing-header select, .property-listing-header .chosen-container { min-width:180px; margin-bottom:0px; }
.property-count { margin-top:10px; }
.property-layout-toggle { margin-right:20px; }
.property-layout-toggle-item {
	color:#9eaab2;
    display: inline-block;
    width: 38px;
    height: 38px;
    text-align: center;
    padding-top: 9px;
}
.property-layout-toggle-item.active { color:#48a0dc; border: 1px solid rgba(0, 0, 0, 0.1); }

.sidebar-properties { margin-top:-90px; }

.property-listing-map { height:100%; }
.property-listing-map-left { float:left; width:50%; position:fixed; z-index:0; top:0; height:100%; }
.property-listing-map-right { float:right; width:50%; padding:3%; position:relative; box-shadow:0px 0px 20px rgba(0, 0, 0, 0.1); }
.property-listing-map-left #map-canvas { height:100%; }

/** PROPERTY HIDDEN CONTENT **/
.property.property-hidden-content .property-content { 
	transition:all 0.4s; 
	position:absolute; 
	bottom:0;
	width:100%;
	height:100%;
	opacity:0;
	background:rgba(72, 160, 220, 0.7);
	z-index:10;
	color:white;
	display:block;
}
.property.property-hidden-content .property-title { border-color:rgba(255, 255, 255, 0.3); }
.property.property-hidden-content .property-title .fa { color:white; }
.property.property-hidden-content .property-content h4 { color:white; font-size:20px; }
.property.property-hidden-content .property-details { color:white; }

.property.property-hidden-content:hover .property-content { opacity:1.0;  }

/** PROPERTIES FEATURED MODULE **/
.properties.featured .property { width:25%; float:left; margin-bottom:0px; }
.properties.featured .slider-nav {
	width:120px;
	left:50%;
	margin-left:-60px;
	top:auto;
}
.properties.featured .slider-featured { margin-top:55px; }

/** PROPERTY CATEGORIES MODULE **/
.property-cat {
	width:100%;
	height:260px;
	display:block;
	color:white;
	padding:5%;
	margin-bottom:30px;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	transition:all 0.4s;
}
.property-cat h3 { color:white; font-weight:200; }
.property-cat:hover .color-bar { width:130px; }

.property-cat-apartments { background-image:url(../images/property-cat-img1.jpg);}
.property-cat-houses { background-image:url(../images/property-cat-img2.jpg);}
.property-cat-condos { background-image:url(../images/property-cat-img3.jpg);}
.property-cat-waterfront { background-image:url(../images/property-cat-img1.jpg);}
.property-cat-cozy { background-image:url(../images/property-cat-img4.jpg);}

/** PROPERTY SINGLE **/
.property-single-item { margin-bottom:45px; background:white; padding:30px; }
.property-single-item h4 { position:relative;}
.property-single-item .divider-fade { margin-top:-20px; }
.property-single-item .divider-hex {
	box-shadow: 0px 0px 15px 12px white;
	background:white;
	position:relative; 
	z-index:100;
	margin-bottom:10px;
}

.property-single-item.property-main { padding:0; }
.subheader-slider.property-single-item { margin-bottom:0px; }
.property-single-item .property-header { padding:30px; }
.property-single-item .property-header h4 { display:inline-block; width:auto; white-space:normal; }
.property-single-item .property-header.property-header-slider {
	position:absolute; 
	padding:0;
	z-index:10; 
	left:15px; 
	right:15px; 
	bottom:30%;
}
.property-single-item .property-header.property-header-slider .property-title { border-bottom:1px solid rgba(255, 255, 255, 0.2); padding-bottom:0px; }
.property-single-item .property-header.property-header-slider h4 { color:white; display:block; font-weight:700; font-size:32px; }
.property-single-item .property-header.property-header-slider p { display:inline-block; font-size:20px; }
.property-single-item .property-header.property-header-slider .property-price-single { color:white; }
.property-single-item .property-header.property-header-slider a { color:white; }

.property-price-single {
	font-size:30px;
	font-weight:700;
	color:#48a0dc;
	text-align:right;
	line-height:1.4;
}
.property-price-single span { 
	display:block; 
	font-size:14px; 
}

.property-single-tags .property-tag {
	position:relative;
	right:0;
	bottom:0;
}
.property-single-tags .property-tag.featured { margin-top:0; }

.property-single-item .property-details-single { width:100%; position:relative; z-index:10; box-shadow:0px 10px 20px rgba(0, 0, 0, 0.1); line-height:1.1; background:#2980b9; color:white; font-size:13px; font-weight:300; }
.property-single-item .property-details-single td { border-right:1px solid rgba(255, 255, 255, 0.1);border-bottom:1px solid rgba(255, 255, 255, 0.1); width:25%; text-align:center; padding:20px 0px; }
.property-single-item .property-details-single td .fa { font-size:28px; display:block; }
.property-single-item .property-details-single td span { font-size:24px; font-weight:600;}
.property-single-item.property-details { padding:0; }

.property-gallery { position:relative; }
.property-gallery img { max-width:100%; height:auto; }
.property-gallery .slider-nav { top:41%; }
.property-gallery .slide-counter { 
	width:60px; 
	position:absolute; 
	z-index:10; 
	color:white; 
	left:10px; 
	top:10px;
	border-radius:3px;
	background:rgba(0, 0, 0, 0.25);
	text-align:center;
	padding:5px;
	font-size:12px;
	font-family:'Open Sans';
}
.property-gallery .property-gallery-pager { padding:20px 7px 20px 20px; margin-bottom:0px; }
.property-gallery .property-gallery-pager a { margin-bottom:-3px; opacity:0.6; cursor:pointer; max-height: 135px; display:inline-block; margin-right:1.5%; border-bottom:3px solid rgba(0, 0, 0, 0); }
.property-gallery .property-gallery-pager a img { position:relative; z-index:-1; }
.property-gallery .property-gallery-pager a.slick-current { opacity:1; box-shadow:inset 0px -3px #48a0dc; }
.property-gallery .property-gallery-pager a:last-child { margin-right:0; }

.property-gallery.full-width .property-gallery-pager { padding-right:0px; padding-left:0px; }
.property-gallery.full-width .slide-counter { top:auto; bottom:0; left:50%; margin-left:-30px; }
.property-gallery.full-width .slide { position:relative; padding:270px 0px; }
.property-gallery.full-width .slide .img-fade { height:180px; }
.property-gallery.full-width .slider-nav { top:37%; }

.property-gallery.full-width #slide1 { background:url(../images/property-img5.jpg) center / cover no-repeat; }
.property-gallery.full-width #slide2 { background:url(../images/property-img6.jpg) center / cover no-repeat; }
.property-gallery.full-width #slide3 { background:url(../images/property-img7.jpg) center / cover no-repeat; }
.property-gallery.full-width #slide4 { background:url(../images/property-img1.jpg) center / cover no-repeat; }
.property-gallery.full-width #slide5 { background:url(../images/property-img4.jpg) center / cover no-repeat; }
.property-gallery.full-width #slide6 { background:url(../images/property-img3.jpg) center / cover no-repeat; }
.property-gallery.full-width #slide7 { background:url(../images/property-img2.jpg) center / cover no-repeat; }

.additional-details-list {
	columns:2; 
	-webkit-columns:2; 
	-moz-columns:2;
}
.additional-details-list li { 
	list-style:none !important; 
	margin-left:0 !important; 
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
	line-height:2.3;
	padding-right:10px;
}
.additional-details-list li span { float:right; font-weight:700; }

.amenities-list { 
	columns:4; 
	-webkit-columns:4; 
	-moz-columns:4;
}
.amenities-list li { font-weight:600; color:#556878; display:block; line-height:2.4; }
.amenities-list li .fa {
	background:#48a0dc;
	color:white;
	width:22px;
	height:22px;
	font-size:14px;
	text-align:center;
	border-radius:2px;
	padding-top:4px;
}
.amenities-list li .fa.fa-close { background:#9bb3c7; }

#map-single { width:100%; height:300px; }

.property-single-item .agent { margin-bottom:0px; }
.property-single-item .agent-img { width:25%; float:left; }
.property-single-item .agent .button.grey { margin-right:10px; }
.property-single-item .agent-content { width:75%; padding-top:0; float:left; }
.property-single-item .agent-content .button { position:relative; z-index:100; }

.widget.property-single-item h4 { margin-bottom:10px; }
.property-related .property { margin-bottom:0px; }
.property-related .property .property-content { border-right:1px solid rgba(0, 0, 0, 0.06); border-left:1px solid rgba(0, 0, 0, 0.06); }

.sidebar.sidebar-property-single { padding-left:15px; }

/** SUBMIT PROPERTY **/
.subheader-property-submit { padding-bottom:80px; }

.form-nav { margin-bottom:40px; display:inline-block; width:100%; }
.form-nav-item { position:relative; float:left; width:20%; text-align:center; font-size:13px; color:#9bb0bb; font-weight:700; }
.form-nav-item span {
	display:inline-block;
	background:white;
	color:#3a464e;
	width:35px;
	height:35px;
	text-align:center;
	border-radius:100%;
	font-size:15px;
	padding-top:7px;
	margin-bottom:7px;
	box-shadow:0px 0px 20px rgba(0, 0, 0, 0.07);
	position:relative;
	z-index:10;
}

.form-nav-item:after {
	content:'';
	width:120px;
	height:4px;
	display:block;
	background:white;
	position:absolute;
	right:-60px;
	top:17px;
}

.form-nav-item:nth-last-child(2):after { content:''; display:none; }

.form-nav-item.completed { color:#3a464e; }
.form-nav-item.completed span { background:#4fba6f; color:white; }

.form-next, .multi-page-form-content button[type="submit"] { margin-left:10px; }
.multi-page-form-content button[type="submit"] { margin-top:20px; }

.multi-page-form-content {
	background:white;
	margin-bottom:30px;
	padding:30px;
	display:none;
}
.multi-page-form-content.active { display:block; }

.multi-page-form-content h4 {
	color:#48a0dc;
	font-weight:700;
	font-size:25px;
	margin-bottom:3px;
	margin-top:3px;
}

.multi-page-form-content .error { color:red; margin-left:7px; font-size:13px; }

.property-submit-title { margin-bottom:30px; }
.property-submit-title p { color:#8594a9; }

.property-submit-num {
	display:block;
	color:white;
	font-size:25px;
	font-weight:700;
	background:#48a0dc;
	width:45px;
	height:45px;
	text-align:center;
	padding-top:4px;
	border-radius:100%;
	margin-right:10px;
}

/** ELEMENTS **/
.elements .row { margin-bottom:60px; }
.elements .button { margin-right:7px; }

.bottom-bar {
	background:#262a35;
	color:#8e95ac;
	padding:20px 0px;
	text-align:center;
	font-size:13px;
	position:relative;
	z-index:10;
}