<div class="modal fade card" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header card-header">
        <div *ngIf="!submitted else scheduled">
          <h4>Schedule A Visit</h4>
          <div *ngIf="failed">
            <p><i id="errorMessage">An error occurred, please try again.</i></p>
          </div>  
        </div>
        <ng-template #scheduled>
          <h4>Thank You</h4>
        </ng-template>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="!submitted else message">
        <div class="modal-body card-body">
          <form class="form-signin" #scheduleForm="ngForm" (ngSubmit)="onSubmit()">
            <!-- email -->
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" class="form-control" id="inputEmail" name="email" #email="ngModel" [(ngModel)]="schedule.email" placeholder="Email" required 
              [pattern]="patterns.email" />
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Email is required</div>

            <!-- datepicker -->
            <div class='input-group date scheduleFormInput' id='datetimepicker11'>
              <label for="inputDateTime" class="sr-only">Date</label>
              <input type="date" class="form-control" id="inputDateTime" name="date" #date="ngModel" [(ngModel)]="schedule.date" placeholder="Date" required />
              <div [hidden]="date.valid || date.pristine" class="alert alert-danger">Date is required</div>
            </div>
            <div class='input-group time scheduleFormInput'>
              <label for="inputDateTime" class="sr-only">Time</label>
              <input type="time" class="form-control" id="inputDateTime" name="time" #time="ngModel" [(ngModel)]="schedule.time" placeholder="Time" required />
              <div [hidden]="time.valid || time.pristine" class="alert alert-danger">Time is required</div>
          </div>  
            <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!scheduleForm.form.valid">Submit</button>
          </form>    
        </div>
      </div>
      <div class="modal-body card-body">
        <ng-template #message>
          <p id="scheduledMesage">You have scheduled an appointment with us. Please confirm our appointment by going to your inbox using the email provided.</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>